# Ignore everything
*

# But not these folders and their contents
!aerospace/
!aerospace/**
!tmux/
!tmux/**
!nvim/
!nvim/**
!ghostty/
!ghostty/**
!zsh/
!zsh/**

# And not the gitignore itself
!.gitignore

# Ignore TPM installed plugins (like node_modules)
tmux/plugins/